{% extends "base.html" %}
{% block title %}
{{category_name.name}}
{% endblock %}
{%block content%}
    <div class="card-text">{{category_name.name}}</div>
    <div class="container">
        <main class="lists">
            {% for products in page_obj %}
                    <div class="list">
                        <!-- Карточка товара -->
                        <!-- Верхняя часть -->
                        <div class="list__top">
                            <!-- Изображение-ссылка товара -->
                            <a href="{% url 'products:products_detail' products.pk %}" class="list__image">
                                <img src="{{ products.image.url }}">
                            </a>
                        </div>
                        <!-- Нижняя часть -->
                        <div class="list__bottom">
                            <!-- Цены на товар (с учетом скидки и без)-->
                            <div class="list__prices">
                                <div class="list__price">Цена: {{products.cost}} руб.</div>
                            </div>
                            <!-- Ссылка-название товара -->
                            <a href="{% url 'products:products_detail' products.pk %}" class="list__title">
                                {{products.name}}
                            </a>
                            <!-- Кнопка добавить в корзину -->
                        </div>
                    </div>
            {% endfor %}
        </main>
        <!-- Pagination -->
        {% include 'includes/paginator.html' %}
    </div>
{%endblock%}
